.main-container{
    width: 212vh;
    height: 150vh;
    margin-top: -50vh;
    background-color: white;
    margin-left: -220px;
}
.container1{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 144vh;
    margin-top: 49vh;
    margin-left: 5vh;

}
.question{
    margin-left: 197vh;
    margin-top: -8vh;
}
.que-mark{
    height: 50px;
}
.head1{
    margin-top: -6vh;
    margin-left: 26vh;
    width: 35vh;
    padding-top: 15vh;
    text-align: center;
}
h3{
    color: black;
    font-size: 30px;
    font-weight: 600;
}
.input1{
    margin-left: 19vh;
    width: 40vh;
    text-align: center;
    margin-top: 5vh;
}

.input2{
    margin-left: 19vh;
    width: 40vh;
    text-align: center;
    margin-top: 2vh;
}

.btn1{
    margin-left: 19vh;
    width: 40vh;
    text-align: center;
    margin-top: 5vh;
}
.btn-email{
    height: 6vh;
    width: 50vh;
    border-radius: 20px;
    background-color: yellow;
    border: 1px solid yellow;
}
.break-line{
    margin-left: 35vh;
    width: 20vh;
    text-align: center;
    margin-top: -2vh;
    background-color: white;

}
.google{
    margin-left: 20vh;
    width: 40vh;
    text-align: center;

}
.btn-email2{
    height: 6vh;
    width: 50vh;
    border-radius: 20px;
    background-color: white;
    padding-top: 10px;
    border: 2px solid black;

}

.goggle-img{
    height: 25px;
    margin-left: -130px;
    margin-bottom: -42px;
}
.facebk{
    margin-left: 20vh;
    width: 40vh;
    text-align: center;
    margin-top: -1vh;

}

.facebk-img{
    height: 25px;
    margin-left: -130px;
    margin-bottom: -42px;

}
.btn-email3{
    height: 6vh;
    width: 50vh;
    border-radius: 20px;
    background-color: white;
    padding-top: 10px;
    border: 2px solid black;

}
.apple{
    margin-left: 20vh;
    width: 40vh;
    text-align: center;
    margin-top: -1vh;
}

.apple-img{
    height: 25px;
    margin-left: -130px;
    margin-bottom: -42px;

}
.btn-email4{
    height: 6vh;
    width: 50vh;
    border-radius: 20px;
    background-color: white;
    padding-top: 10px;
    border: 2px solid black;

}
.twitter{
    margin-left: 20vh;
    width: 40vh;
    text-align: center;
    margin-top: -1vh;
}

.twitter-img{
    height: 25px;
    margin-left: -130px;
    margin-bottom: -42px;

}
.btn-email5{
    height: 6vh;
    width: 50vh;
    border-radius: 20px;
    background-color: white;
    padding-top: 10px;
    border: 2px solid black;

}
h4{
    color: black;
    font-size: medium;
    font-weight: 600;
}
p{
    color: black;
}
input{
    width: 50vh;
    height: 6vh;
    border-radius: 10px;
    border: 2px solid black;
}
.li-break{
    width:45vh;
    margin-left: 22vh;
}
h2{
    font-size: initial;
    font-weight: 700;
}
::placeholder{
    padding-left: 15px;
}
.terms{
    margin-top: -5vh;
    text-align: center;
    margin-left: -109vh;
}
a{
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.log-div{
    margin-left: 165vh;
    margin-top: -92vh;
    width: 60vh;
    height: 5vh;

}
.accnt{
    font-size: initial;
    font-weight: 400;
}
.login{
    margin-left: 30vh;
    width: 10vh;
    height: 5vh;
    border-radius: 30px;
    border: 3px solid black;
    font-size: initial;
    font-weight: 700;
    background-color: white;
}
.log-btn{
    margin-top: -4vh;
    margin-left: -5vh;
}
.coffee-div{
    width: 15vh;
    height: 10vh;
}
.coffee-img{
    height: 45px;
    margin-left: 13vh;
    margin-top: -12vh;

}
.coffee-login-div{
    margin-top: -70vh;
    margin-left: 92vh;
}
.coffee-login{
    border-radius: 15px;
    width: 115vh;
    height: 91vh;
    margin-left: -18vh;
    margin-top: -9vh;
    object-fit: fill;

}