.main-frame1{
    width: calc(105.33% - 20px);
    background: #FAFAFA;
    height: 130vh;
}
.header{
    display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
}
.header-txt{
    color: #3F4646;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.tab{
    display: flex;
    gap: 25px;
    height: 5%;
    margin-left: 20px;

}
.item1{
    border-radius: 14px;
    background: #40CAD7;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
    width: 45%;
}
.item1-txt{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    padding-top: 10px;

}
.item2{
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
    width: 45%;
}
.item2-txt{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    padding-top: 10px;
}
.category-txt{
    color: #3F4646;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-left: 20px;
}
.category-items{
    gap: 10px;
    height: 15%;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}
.category-box{
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
    width: 90%;
    margin-top: 20px;
    margin-left: 5px;
}
.category-logo{
    text-align: center;
    padding-top: 10px;

}
.txt{
    text-align: center;
    color: #909394;
}

/* 2 */

.category-box2{
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
    width: 90%;
    margin-top: 20px;
}
.category-logo2{
    text-align: center;
    padding-top: 10px;

}
.txt2{
    text-align: center;
    color: #909394;
}

/* 3 */

.category-box3{
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
    width: 90%;
    margin-top: 20px;
}
.category-logo3{
    text-align: center;
    padding-top: 10px;

}
.txt3{
    text-align: center;
    color: #909394;
}

/* 4 */

.category-box4{
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
    width: 90%;
    margin-top: 20px;
    margin-left: 5px;
}
.category-logo4{
    text-align: center;
    padding-top: 5px;

}
.txt4{
    text-align: center;
    color: #909394;
}

/* 5 */

.category-box5{
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
    width: 90%;
    margin-top: 20px;
}
.category-logo5{
    text-align: center;
    padding-top: 10px;

}
.txt5{
    text-align: center;
    color: #909394;
}

/* 6 */

.category-box6{
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
    width: 90%;
    margin-top: 20px;
}
.category-logo6{
    text-align: center;
    padding-top: 10px;

}
.txt6{
    text-align: center;
    color: #909394;
}

/* 7 */

.category-box7{
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
    width: 90%;
    margin-top: 20px;
}
.category-logo7{
    text-align: center;
    padding-top: 10px;

}
.txt7{
    text-align: center;
    color: #909394;
}
/* over */


.new-deal-txt{
    color: #3F4646;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 130px;
    margin-left: 20px;
}
.deal-list{
    margin-top: 20px;
}

.list1{
    border-radius: 14px;
    background: #40CAD7;
    width: 95%;
    margin-left: 10px;
    display: flex;
    gap: 10px;
}
.deal-img{
    margin-left: 15px;
    padding-top: 5px;
    width: 50%;
}

.info{
    margin-top: 20px;
    width: 45%;
}

.offer{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 8px;
    background: #0B2455;
    width: 30%;
    height: 20%;
    padding-top: 5px;
}
.card-txt2{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
    letter-spacing: 0px;
    text-align: start;
    margin-top: 5px;
}
.card-txt3{
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
    margin-top: 10px;
    text-align: start;
}

/*  */


.list2{
    border-radius: 14px;
    background: #0B2455;
    width: 95%;
    margin-left: 10px;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.deal-img2{
    margin-left: 15px;
    padding-top: 5px;
    width: 50%;
}

.info2{
    margin-top: 20px;
    width: 45%;
}

.offer2{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 8px;
    background: #40CAD7;
    width: 30%;
    height: 20%;
    padding-top: 5px;
}
.card-txt4{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
    letter-spacing: 0px;
    text-align: start;
    margin-top: 5px;
}
.card-txt5{
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
    margin-top: 10px;
    text-align: start;
}
.menu-box{
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.12);
    height: 10vh;
    display: flex;
    column-gap: 80px;
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    position: fixed;
    bottom: 0;
}