.main-frame{
    width: calc(105.33% - 20px);
    background: #FAFAFA;
    height: 100vh;
}
.header{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-between;
}
.header-txt{
    color: #3F4646;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.header-tabs{
    display: flex;
    flex-wrap: wrap;
    height: 6%;
    gap: 15px;
    justify-content: center;
}

.tab1{
    border-radius: 14px;
    background: #40CAD7;
    width: 28%;
    padding-top: 15px;
}
.tab1-txt{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

/*  */

.tab2{
    border-radius: 14px;
    width: 28%;
    padding-top: 15px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
}
.tab2-txt{
    color: #909394;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

/*  */

.tab3{

    border-radius: 14px;
    width: 28%;
    padding-top: 15px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);

}
.tab3-txt{
    color: #909394;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}
.txt-july{
    color: #3F4646;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    padding: 30px 30px;
}
.july-cards{
    padding: 5px;
}
.july-card1{
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

}
.july-icon{
    padding: 10px;
}
.july-txt1{
    color: #3F4646;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    padding-top: 15px;
}
.july-txt2{
    color: #909394;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    padding-top: 40px;
    margin-left: -125px;
}
.july-txt3{
    color: #3F4646;
    text-align: right;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    padding-left: 40px;
    margin-right: 30px;
    margin-top: 20px;
}
.menu-box{
    background: #FFF;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.12);
    height: 10vh;
    display: flex;
    column-gap: 80px;
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    position: fixed;
    bottom: 0;
}