@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|');

.container1 {
  background-color: rgb(255 250 250);
  padding: 127px;
  width: 1570px;
  height: 821px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  margin-left: 80px;
  margin-top: -95px;
  overflow-y: auto;
  overflow-x: hidden;

  }
    
  .video-holder {
    background-color: rgb(255 250 250);
    padding: 23px;
    text-align: center;
    border: none;
    width: 324px;
    height: 285px;
  }
    
  .thumbnail {
    width: 114%;
    max-width: 115%;
    height: 195px;
    object-fit: contain;
    }
    
  .thumbnail-heading {
    text-decoration: none;
    color: rgb(3 3 3 / 82%);
    margin-left: 38px;
    width: 261px;
    font-size: 15px;
    margin-top: -29px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    max-height: 7px;
    white-space: normal;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: bolder;
    font-kerning: none;
}
   .channel{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-left: -245px;
    margin-top: 25px;
    }
    .chnl-logo{
      margin-top: -40px;
    }
    .views{
      text-decoration: none;
      color: #646464;
      font-size: 12px;
      line-height: 16px;
      margin-left: 0px;
      padding-bottom: 0vh;
  
  }
    .name{
      color: #646464;
      margin-left: -195px;
      margin-top: -56px;
      font-size: smaller;
  
    }
    .p-tags1{
      margin-left: -70px;
    }
    .p-tags2{
      margin-top: 22px;
      margin-left: 66px;
    }
    .video-page{
      width: 1780px;
      margin-left: -195px;
      height: 705px;
      margin-top: -50px;

    }
    .sidebar-container {
      position: fixed;
      top: -55px;
      left: -27px;
      width: 250px;
      height: 110%;
      overflow-y: auto;
      background-color: #333;
      color: white;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    
    .sidebar-container::-webkit-scrollbar {
      width: 0.5em;
      background-color: #ffffff;
    }
    
    .sidebar-container::-webkit-scrollbar-thumb {
      background-color: #ffffff;
    }
    /* .nav-div{
      width: 200vh;
      margin-left: 36vh;
      text-align: center;
      height: 5vh;
      display: flex;
      gap: 2vh;
      overflow: auto;
      white-space: nowrap;
      


    }
    .nav-bun{
      width: 11vh;
      height: 4vh;
      border-radius: 20px;
      background-color: #efefef;
      border: 1px solid lightgray;
      padding: 4px 15px!important;
      cursor: pointer;
    }
    .top-line{

    } */